<section itemscope itemtype="https://schema.org/BreadcrumbList">
  <h1 itemprop="name">Links</h1>
  <ul>
    {%- assign position = 1 -%}
    {%- for link in site.links %}
    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <a href="{{ link.href | default: link.url | relative_url }}" itemprop="item">
        <span itemprop="name">{{ link.title | escape_once }}</span>
      </a>
      <meta itemprop="position" content="{{ position }}" />
      {%- assign position = position | plus: 1 %}
    </li>
    {%- endfor %}
  </ul>
</section>
