@import "base/mq-helper";
@import "base/normalize";
@import "base/layout";
@import "base/typography";
@import "base/colors";
@import "base/print";
@import "theme-switch";

.enforce-max-content-width {
  box-sizing: border-box;
  max-width: 38rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

pre {
  div.view-file {
    @include font-family-sans-serif;
    text-align: right;
  }
}

svg.icon {
  width: 1em;
  height: 1em;
  vertical-align: middle;
}

header.page-header {
  position: sticky;
  top: 0;
  z-index: 1;
  background: var(--color-bg-secondary);
  box-shadow: 0 0.1rem 0.25rem rgba(0, 0, 0, 0.05),
    0 0.1rem 0.25rem rgba(0, 0, 0, 0.1);

  @media print {
    position: static;
    box-shadow: none;
    border-bottom: 0.1rem solid var(--color-text);
  }

  .enforce-max-content-width {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;

    a.title {
      color: var(--color-text);
      letter-spacing: 0.1rem;

      @include font-family-serif;
      font-weight: 400;
      font-size: 1.25rem;

      &:hover {
        color: var(--color-primary);
      }

      &:active {
        color: var(--color-primary-variant);
      }
    }

    label.theme-switch {
      margin-left: auto;
      justify-self: end;
      display: block;

      @media print {
        display: none;
      }
    }
  }
}

main {
  margin: 2rem auto;

  %heading-anchor-style {
    margin-left: 0.5rem;
    display: none;
    position: absolute;

    @include breakpoint($until: desktop) {
      display: inline;
    }

    @media print {
      display: none !important;
    }

    svg {
      font-size: 1rem;
    }
  }

  @for $i from 2 through 6 {
    h#{$i} {
      a.anchor {
        @extend %heading-anchor-style;
      }

      &:hover a.anchor {
        display: inline;
      }
    }
  }

  article.post {
    div.meta {
      display: flex;
      flex-direction: row;
      color: var(--color-text-secondary);

      small:first-of-type {
        margin-right: auto;
      }
    }
  }
}

footer {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  @include breakpoint($until: mobile) {
    flex-direction: column;
  }

  @media print {
    display: none;
  }

  p.copyright {
    margin-right: auto;

    @include breakpoint($until: mobile) {
      margin-right: 0;
    }
  }

  p.social-icons {
    display: flex;
    margin-left: auto;

    @include breakpoint($until: mobile) {
      margin-left: 0;
    }

    a {
      margin-right: 0.5em;
      color: inherit;
      font-size: 1.25rem; // for icon class

      // since devices with lower resolution will typically use an imprecise
      // pointing device such as fingers on touchscreens
      @include breakpoint($until: desktop) {
        font-size: 1.5rem; // for icon class
      }

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        color: var(--color-primary);
      }

      &:active {
        color: var(--color-primary-variant);
      }
    }
  }
}
