@import "base/helpers";
@import "base/normalize";
@import "base/layout";
@import "base/typography";
@import "base/colors";
@import "base/print";

.enforce-max-content-width {
  box-sizing: border-box;
  max-width: 42rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

label.switch {
  display: block;
  padding: 0.5rem;
  font-size: 0; // clicking on the label is selecting whitespace (text) in firefox
  border-radius: 50%;
  transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);

  &:hover {
    color: var(--color-primary-variant);
  }

  &:active {
    background: var(--color-bg-tertiary);
    color: var(--color-primary);
  }

  svg {
    display: block;
    width: 1rem;
    height: 1rem;
  }

  input {
    display: none;

    ~ svg:last-of-type {
      display: none;
    }

    &:checked {
      ~ svg {
        &:last-of-type {
          display: block;
        }

        &:first-of-type {
          display: none;
        }
      }
    }
  }
}

pre div.view-file {
  font-family: var(--font-family-sans-serif);
  text-align: right;
}

svg.icon {
  width: 1em;
  height: 1em;
  vertical-align: middle;
}

header.page-header {
  position: sticky;
  top: 0;
  z-index: 1;
  background: var(--color-bg);
  box-sizing: border-box;

  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 0rem solid var(--color-bg);
  transition: padding 0.75s cubic-bezier(0.075, 0.82, 0.165, 1),
    border-bottom 0.75s cubic-bezier(0.075, 0.82, 0.165, 1);

  @media print {
    position: static;
    box-shadow: none;
    border-bottom: 0.1rem solid var(--color-text);
  }

  &.floating {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-bottom: 0.05rem solid var(--color-bg-tertiary);
  }

  #navbar {
    display: flex;
    flex-direction: row;
    align-items: center;

    a.title {
      display: block;
      width: 12rem;
      height: 2rem;
      margin-right: 1rem;
      z-index: 1000;
      background-color: var(--color-text);
      transition: background-color 300ms cubic-bezier(0.075, 0.82, 0.165, 1);

      @include mask(
        url($static-res-dir + "/img/title.png") center/contain no-repeat
      );

      @media print {
        @include mask(none);
        &::before {
          content: "Ashutosh Gangwar";
        }
      }

      &:hover {
        background-color: var(--color-primary);
      }

      &:active {
        background-color: var(--color-primary-variant);
      }
    }

    label.switch {
      margin-left: 0.5rem;
      justify-self: end;
      z-index: 1000;

      &:first-of-type {
        margin-left: auto;
      }

      @media print {
        display: none;
      }
    }

    #menu-toggle {
      color: var(--color-primary-variant);

      &:hover {
        color: var(--color-primary);
      }
    }
  }

  #menu {
    display: none;
    position: fixed;
    padding-top: 5rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--color-bg-secondary);

    ul {
      list-style-type: none;
      padding: 0;

      li {
        border-bottom: 1px solid var(--color-bg-tertiary);

        &:last-of-type {
          border-bottom: none;
        }
      }

      li a {
        position: relative;
        color: var(--color-text);
        display: block;
        padding: 0.5rem 1rem;
        font-size: 1.15rem;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.05rem;
        transition: color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
          background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

        &:hover,
        &.active {
          color: var(--color-primary);
        }

        &:active {
          color: var(--color-primary-variant);
          background-color: var(--color-bg-tertiary);
        }
      }
    }
  }
}

main {
  margin: 2rem auto;

  h1 {
    margin-top: 1rem;
  }

  %heading-anchor-style {
    margin-left: 0.5rem;
    font-size: var(--font-size-small);
    vertical-align: middle;

    @media print {
      display: none !important;
    }
  }

  @for $i from 2 through 6 {
    h#{$i} {
      a.anchor {
        @extend %heading-anchor-style;
      }
    }
  }

  article.post {
    .title a {
      color: var(--color-text);
    }

    div.meta {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      color: var(--color-text-secondary);
    }

    div.footnotes {
      margin: 2rem auto;
      padding-top: 1rem;
      border-top: 0.05rem solid var(--color-bg-tertiary);
      font-size: var(--font-size-small);
      color: var(--color-text-secondary);
    }

    img + em {
      box-sizing: border-box;
      display: inline-block;
      width: 100%;
      padding: 0.5rem 1rem;
      text-align: center;
    }
  }
}

body > footer {
  background: var(--color-bg-secondary);

  @media print {
    display: none;
  }

  div {
    margin: 1.5rem auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;

    @include breakpoint($until: mobile) {
      flex-direction: column;
    }
  }

  p {
    margin: 0;

    @include breakpoint($until: mobile) {
      margin: 1rem 0;
    }
  }

  a {
    &,
    &:visited {
      color: var(--color-text);
    }

    &:hover {
      color: var(--color-primary);
    }

    &:active {
      color: var(--color-primary-variant);
    }
  }

  p.social-icons {
    display: flex;

    a {
      margin-right: 0.5em;
      font-size: 1.25rem; // for icon class
      color: var(--color-text-secondary);

      // since devices with lower resolution will typically use an imprecise
      // pointing device such as fingers on touchscreens
      @include breakpoint($until: desktop) {
        font-size: 1.5rem; // for icon class
      }

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        color: var(--color-primary);
      }
    }
  }
}
