---
layout: compress
---
<!DOCTYPE html>
<html lang="en">

<head>
  {% include page-meta.html %}

  <link rel="stylesheet" href="{{ '/assets/static/page.css' | relative_url }}" />

  <!-- preload fonts -->
  {%- for file in site.static_files %}
  {%- if file.path contains '/assets/static/font' %}
  <link rel="preload" href="{{ file.path | relative_url }}" as="font" type="font/woff2" crossorigin>
  {%- endif %}
  {%- endfor %}
</head>

<body itemscope itemtype="http://schema.org/WebPage">
  <header class="page-header floating">
    <div id="navbar" class="enforce-max-content-width">
      <a class="title" href="{{ '/' | relative_url }}" aria-label="go to homepage">
        {{ site.x.author }}
      </a>
      <label id="theme-toggle" class="switch" title="Toggle bright/dark mode" aria-label="toggle bright or dark mode">
        <input type="checkbox" onchange="toggleTheme(this.checked)" />
        {%- include icon.svg id='moon' %}
        {%- include icon.svg id='sun' %}
      </label>
      <label id="menu-toggle" class="switch" title="Expand/collapse menu" aria-label="expand or collapse menu">
        <input type="checkbox" onchange="toggleMenu(this.checked)" />
        {%- include icon.svg id='grid-2x2' %}
        {%- include icon.svg id='cross' %}
      </label>
    </div>

    <div id="menu">
      <div class="enforce-max-content-width">
        <ul itemscope itemtype="https://schema.org/SiteNavigationElement">
          {%- assign nav_links = site.data.nav_links -%}

          {%- for collection in site.collections -%}
          {%- for page in site[collection.label] -%}
          {%- if page.in_nav_links -%}
          {%- assign nav_links = nav_links | push: page -%}
          {%- endif -%}
          {%- endfor -%}
          {%- endfor -%}

          {%- assign pageURL = page.url | relative_url -%}
          {%- assign nav_links = nav_links | sort: 'title' | sort: 'nav_priority', 'last' -%}
          {%- for link in nav_links %}
          <li itemprop="name">
            {%- assign linkURL = link.url | relative_url -%}
            {%- if pageURL == linkURL -%}
            {%- assign activeClass = 'class="active"' -%}
            {%- else -%}
            {%- assign activeClass = '' -%}
            {%- endif -%}
            <a href="{{ linkURL }}" {{ activeClass }} itemprop="url">
              {{ link.title | escape_once }}
            </a>
          </li>
          {%- endfor %}
        </ul>
      </div>
    </div>
  </header>

  <main class="enforce-max-content-width">
    {{ content }}
  </main>

  <footer>
    <div class="enforce-max-content-width">
      <p class="social-icons">
        <a aria-label="view RSS feed" title="RSS Feed" href="{{ '/feed.xml' | absolute_url }}">
          {%- include icon.svg id='rss' %}
        </a>
        {%- for handle in site.x.social %}
        {%- assign defaultPrefix = handle.name | append: '.com' %}
        <a aria-label="Visit my {{ handle.name }} handle" title="{{ handle.name | capitalize }}"
          href="https://{{ handle.prefix | default: defaultPrefix }}/{{ handle.username }}">
          {%- include icon.svg id=handle.name %}
        </a>
        {%- endfor %}
      </p>
      <p class="copyright">&copy; {{ site.time | date: '%Y' }}</p>
    </div>
  </footer>

  <!-- inline all SVG icons to make them reuse efficient -->
  <svg style="display: none;">
    {%- for icon in site.icons %}
    <symbol id="{{ icon.title | slugify }}">{{ icon.content }}</symbol>
    {%- endfor %}
  </svg>

  <script defer src="/assets/static/highlight.js" onload="hljs.initHighlightingOnLoad();"></script>
  <script defer src="/assets/static/page.js"></script>
  {% if page.mathjax -%}
  <script defer src="https://cdn.jsdelivr.net/npm/mathjax@2/MathJax.js?config=TeX-AMS_HTML"></script>
  {%- endif %}
  {% include goatcounter.html %}
</body>

</html>
