---
layout: compress
---
<!DOCTYPE html>
<html lang="en">

{% include head.html -%}

<body>
  <header>
    <div class="enforce-max-content-width">
      <a class="title" href="{{ '/' | relative_url }}">{{ site.x.author }}</a>
      <label class="theme-switch">
        <input type="checkbox" onchange="toggleTheme(this.checked)" />
        {%- include icon.svg id='moon' %}
        {%- include icon.svg id='sun' %}
      </label>
    </div>
  </header>
  <main class="enforce-max-content-width">
    {{ content }}
  </main>
  <footer class="enforce-max-content-width">
    <p class="social-icons">
      {%- assign handles = 'github,linkedin,twitter,rss' | split: ',' -%}
      {%- for handle in handles %}
      {% if site.x.social[handle] and site.x.social[handle] != empty -%}
      <a target="_blank" rel="noopener" title="{{ handle | capitalize }}" href="{{ site.x.social[handle] }}">
        {%- include icon.svg id=handle %}
      </a>
      {%- endif %}
      {%- endfor %}
    </p>
    <p class="copyright">&copy; {{ site.time | date: '%Y'  }}</p>
  </footer>

  <!-- inline all SVG icons to make them reuse efficient -->
  <svg style="display: none;">
    {%- for icon in site.icons %}
    <symbol id="{{ icon.title | downcase }}">{{ icon.content }}</symbol>
    {%- endfor %}
  </svg>

  {% include scripts.html -%}
</body>

</html>
