---
layout: page
---

<div itemscope itemtype="https://schema.org/Blog">
  <article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
    <meta itemprop="mainEntityOfPage" content="{{ page.url | relative_url }}" />
    <meta itemprop="author" content="{{ site.x.author }}" />
    <meta itemprop="publisher" content="{{ site.x.author }}" />
    {%- if page.image and page.image != empty %}
    <meta itemprop="image" content="{{ page.image | relative_url }}" />
    {%- endif %}
    {% if page.tags and page.tags.size > 0 -%}
    <meta itemprop="keywords" content="{{ page.tags | join: ', ' }}" />
    {%- endif %}

    <h1 class="title" id="{{ page.title | slugify }}" itemprop="name headline">
      <a href="{{ page.url | relative_url }}">{{ page.title | escape_once }}</a>
    </h1>
    <div class="meta">
      {%- assign wordCount = page.content | strip_html | number_of_words %}
      <meta itemprop="wordCount" content="{{ wordCount }}" />
      {%- assign minTime = wordCount | divided_by: 213 | round -%}
      {%- assign maxTime = wordCount | divided_by: 155 | round | at_least: 1 %}
      <small>
        {% unless minTime == 0 or minTime == maxTime %}{{ minTime }}-{% endunless -%}
        {{ maxTime }} minute read
      </small>

      <small>
        {%- if page.draft %} Draft {%- else %}
        <time datetime="{{ page.date | date: '%FT%T%z' }}" itemprop="datePublished">
          {{ page.date | date: "%B %e, %Y" }}
        </time>
        {%- endif %}
      </small>
    </div>
    <hr />
    <div itemprop="articleBody">{{ page.content }}</div>
    <footer>
      <p>
        {%- assign post_title = page.title | url_encode %}
        {%- assign post_url = page.url | absolute_url %}
        &mdash; Share it on

        {%- assign linkedin_url = post_url | append: '?ref=LinkedIn+Share' | url_encode %}
        {%- assign linkedin_params = 'url=' | append: linkedin_url %}
        <a href="https://www.linkedin.com/sharing/share-offsite/?{{ linkedin_params }}" rel="noopener"
          title="LinkedIn">LinkedIn</a>,

        {%- assign reddit_url = post_url | append: '?ref=Reddit+Share' | url_encode %}
        {%- assign reddit_params = 'url=' | append: reddit_url %}
        {%- assign reddit_params = reddit_params | append: '&title=' | append: post_title %}
        <a href="https://www.reddit.com/submit?{{ reddit_params }}" rel="noopener" title="Reddit">Reddit</a>

        or

        {%- assign twitter_url = post_url | append: '?ref=Twitter+Share' | url_encode %}
        {%- assign twitter_username = site.x.social | where: 'name', 'twitter' | map: 'username' | first %}
        {%- assign twitter_params = 'url=' | append: twitter_url %}
        {%- assign twitter_params = twitter_params | append: '&text=' | append: post_title %}
        {%- assign twitter_params = twitter_params | append: '&via=' | append: twitter_username %}
        {%- assign twitter_params = twitter_params | append: '&related=' | append: twitter_username %}
        <a href="https://twitter.com/intent/tweet?{{ twitter_params }}" rel="noopener" title="Twitter">Twitter</a>,

        or <a href="#" onclick="copyToClipboard(window.location.href.split('#')[0]);">copy its link</a>.
      </p>
    </footer>
  </article>
</div>
