---
layout: page
---
<div itemscope itemtype="https://schema.org/Blog">
  <article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
    <meta itemprop="mainEntityOfPage" content="{{ page.url | relative_url }}" />
    <meta itemprop="author" content="{{ site.x.author }}" />
    <meta itemprop="publisher" content="{{ site.x.author }}" />
    {%- if page.image and page.image != empty %}
    <meta itemprop="image" content="{{ page.image | relative_url }}" />
    {%- endif %}
    {% if page.tags and page.tags.size > 0 -%}
    <meta itemprop="keywords" content="{{ page.tags | join: ', ' }}" />
    {%- endif %}

    <h1 id="{{ page.title | slugify }}" itemprop="name headline">{{ page.title | escape_once }}</h1>
    <div class="meta">
      <small>
        <time datetime="{{ page.date | date: "%Y-%m-%d" }}" itemprop="datePublished">
          {{ page.date | date: "%B %e, %Y" }}
        </time>
      </small>

      {%- assign wordCount = page.content | strip_html | number_of_words %}
      <meta itemprop="wordCount" content="{{ wordCount }}" />
      <small>{{ wordCount }} words</small>
    </div>
    <hr />
    <div itemprop="articleBody">
      {{ page.content }}
    </div>
  </article>
</div>
