---
layout: compress
---
<!DOCTYPE html>
<html>

<head>
  <title>Redirecting</title>
  <link rel="canonical" href="{{ page.redirect.to | absolute_url }}" />
  {% include goatcounter.html %}
  <script>location = "{{ page.redirect.to }}"</script>
  <meta http-equiv="refresh" content="0; url={{ page.redirect.to }}">
  <title>Redirecting</title>
</head>

<body>
  <h1>Redirecting</h1>
  <p>
    If you are not automatically redirected, please follow
    <a href="{{ page.redirect.to }}">this link</a>.
  </p>
</body>

</html>
