html,
body {
  box-sizing: border-box;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

/* Personal preference: footer should be placed at the bottom of the page, even
 * if the page content is shorter than the available height of the viewport. */
footer {
  justify-self: end;
  margin-top: auto;
}

%reset-margins-touching-parent-edges {
  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

section,
article {
  margin: 3rem 0;
  @extend %reset-margins-touching-parent-edges;
}

%heading-style {
  margin-top: 3rem;
  margin-bottom: 1.38rem;
}

@for $i from 1 through 6 {
  h#{$i} {
    @extend %heading-style;
  }
}

%multiple-immediate-heading-style {
  margin-top: 1.5rem;
}

@for $i from 1 through 5 {
  @for $j from $i + 1 through 6 {
    h#{$i} + h#{$j} {
      @extend %multiple-immediate-heading-style;
    }
  }
}

p {
  margin: 1.5em 0;
}

img,
svg {
  max-width: 100%;
  border: none;
  vertical-align: middle;
}

ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 2em;
}

li p {
  @extend %reset-margins-touching-parent-edges;
}

blockquote {
  margin: 1.5em 0;
  padding: 1em 1em 1em 2em;
  border-left-width: 0.25rem;
  border-left-style: solid;
  border-radius: 0.5rem;

  p {
    @extend %reset-margins-touching-parent-edges;
  }
}

pre {
  margin: 1em 0;
}

pre > code {
  display: block;
  padding: 1.25em 2em;
  margin: 0.5em 0;
  overflow-x: auto;
  border-radius: 0.5rem;
}

:not(pre) > code {
  padding: 0 0.25em;
  border-radius: 0.15rem;
}

table {
  max-width: 100%;
  margin: 0.8em auto;
  border-collapse: collapse;
  border-spacing: 0;
  border-bottom-width: 0.075rem;
  border-bottom-style: solid;
  border-top-width: 0.075rem;
  border-top-style: solid;

  td,
  th {
    text-align: left;
    padding: 0.15em 0.75em;
    border-left-width: 0.075rem;
    border-left-style: solid;

    &:last-child {
      border-right-width: 0.075rem;
      border-right-style: solid;
    }
  }

  th {
    border-bottom-width: 0.075rem;
    border-bottom-style: solid;
  }
}

hr {
  display: block;
  margin: 1em 0;
  border-width: 0.075rem 0 0;
  border-top-style: solid;
}

dd {
  margin: 0 0 0 2em;
}
