@import "mq-helper";

%font-family-sans-serif {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 400;
}

%font-family-serif {
  font-family: "Merriweather", "Times New Roman", Times, serif;
  font-weight: 700;
}

%font-family-mono {
  font-family: "Source Code Pro", "Consolas", Courier, monospace;
  font-weight: 450;
}

@mixin tab-size($val) {
  -moz-tab-size: $val;
  -o-tab-size: $val;
  tab-size: $val;
}

@mixin hyphens($val) {
  -webkit-hyphens: $val;
  -moz-hyphens: $val;
  -ms-hyphens: $val;
  hyphens: $val;
}

html,
body {
  @extend %font-family-sans-serif;
  font-size: 20px;
  line-height: 1.618;
  word-wrap: break-word;

  @include breakpoint($until: mobile) {
    font-size: 18px;
  }
}

%heading-style {
  @extend %font-family-serif;
  line-height: 1.3;
}

@for $i from 1 through 6 {
  h#{$i} {
    @extend %heading-style;
  }
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.87rem;
}

h6 {
  font-size: 0.75rem;
}

a {
  text-decoration: none;
}

strong {
  font-weight: 580;
}

small {
  font-size: 0.833em;
}

pre,
code,
kbd,
samp {
  font-size: 0.9em;
  line-height: 1.4em;

  @extend %font-family-mono;
  @include tab-size(4);
  @include hyphens(none);
}

code {
  .hljs-literal,
  .hljs-params,
  .hljs-section,
  .hljs-strong,
  .hljs-title {
    font-weight: 550;
  }

  .hljs-built_in,
  .hljs-comment,
  .hljs-emphasis,
  .hljs-keyword,
  .hljs-quote,
  .hljs-selector-attr,
  .hljs-selector-class,
  .hljs-selector-pseudo,
  .hljs-title {
    font-style: italic;
  }
}

del {
  text-decoration: line-through;
}

sub,
sup {
  font-size: 0.75em;
  position: relative;
  vertical-align: baseline;
}

dfn {
  font-style: italic;
}

footer {
  font-size: 0.9rem;
  line-height: 1.2em;
}

$font-dir: $static-res-dir + "/font";

/* Merriweather latin */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-stretch: normal;
  font-weight: 200 900;
  font-display: swap;
  src: url($font-dir + "/MerriweatherVariable-Roman.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* Merriweather Italic latin */
@font-face {
  font-family: "Merriweather";
  font-style: italic;
  font-stretch: normal;
  font-weight: 200 900;
  font-display: swap;
  src: url($font-dir + "/MerriweatherVariable-Italic.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* Source Sans Pro latin */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-stretch: normal;
  font-weight: 200 900;
  font-display: swap;
  src: url($font-dir + "/SourceSans3VF-Roman.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* Source Sans Pro Italic latin */
@font-face {
  font-family: "Source Sans Pro";
  font-style: italic;
  font-stretch: normal;
  font-weight: 200 900;
  font-display: swap;
  src: url($font-dir + "/SourceSans3VF-Italic.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* Source Code Pro Latin */
@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-stretch: normal;
  font-weight: 200 900;
  font-display: swap;
  src: url($font-dir + "/SourceCodeVariable-Roman.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* Source Code Pro Italic Latin */
@font-face {
  font-family: "Source Code Pro";
  font-style: italic;
  font-stretch: normal;
  font-weight: 200 900;
  font-display: swap;
  src: url($font-dir + "/SourceCodeVariable-Italic.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
